@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
  }
}

:root{
  --primary: hsl(172, 67%, 45%);
  --dark-cyan: hsl(186, 14%, 43%);
  --grey-cyan: hsl(184, 14%, 56%);
  --light-grey-cyan: hsl(185, 41%, 84%);
  --very-light-grey-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  background-color: var(--light-grey-cyan);
  min-height: 100vh;
  width: 100%;
}